
.buttons-Blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.buttons-Blogs button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.head-newblog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBlog{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBlog form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.head-newblog h1{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.blog-editor{
    margin: 20px;
    width: 80%;
    height: 400px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.blog-editor-ReactQuill{
    height: 90%;
}


.blog-input{
    margin: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.submitBlog{
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.blog-list {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.blog-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.blog-list ul {
  list-style: none;
  padding: 0;
}

.blog-list li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.blog-list li h2 {
  padding: 10px;
  margin-top: 0px;
  background-color: #ccc;
}

.blog-list li img {
  width: 80%;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px;
}

.blog-list li p {
  margin: 5px 0;
  font-style: italic;
}

.blog-list li div {
  margin-top: 10px;
}

.blog-list li button{
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  background-color: #ddd;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.blog-details {
  margin: 20px;
}

.details h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
}

.details p {
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.details p span {
  font-weight: normal;
  font-style: italic;
}

.blog-content{
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
}
