
.buttons-Blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.buttons-Blogs button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.head-newblog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBlog{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-newblog h1{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.blog-editor{
    margin: 20px;
    width: 80%;
    height: 400px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.blog-editor-ReactQuill{
    height: 90%;
}

.submitBlog{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}